<div class="im-main-container">
        <div class="im-dialog-area">
            <div class="im-dialog-title">
                <div class="im-target-name">
                    <div class="im-dialog-close">
                        <img class="im-close-button" src="../assets/img/close.png">
                    </div>
                    <span>{{ imTitle }}</span>
                </div>
                <div class="im-title-button-area">
                </div>
            </div>
           <div class="im-dialog-target-head">
            </div>
  <!--            <div class="im-talk-area">
                <input class="input-name" [value]="user.username" (keyup)="onKey($event,'username')" placeholder="请输入用户名/手机">
                <br>
                <input class="input-password" [value]="user.password" (keyup)="onKey($event,'password')"  type="password" placeholder="请输入密码">
                <br>
                <button class="smt-btn" (click)="login()">登陆</button>
            </div>-->

            <div class="im-talk-area">
                <div>
                    <div class="row-item">
                        <div class="row-item-width">username : </div>
                        <input type="text" class="input-item user-mng-no-width display-single-line" maxlength="50" [value]="user.username" (keyup)="onKey($event,'username')" placeholder="请输入用户名/手机"/>
                    </div>
                    <div class="row-item item-padding-left">
                        <div class="row-item-width">password : </div>
                        <input type="password" class="input-item user-mng-no-width display-single-line" maxlength="16" [value]="user.password" (keyup)="onKey($event,'password')"  type="password" placeholder="请输入密码"/>
                    </div>
                    <button class="smt-btn" (click)="login()">登陆</button>
                </div>
            
            
<!--                 <div class="round-button-wrapper">
                    <button class="round-button no-shadow" ng-click="loginPage.login()">
                        {{label.auth.login.loginButtonText}}
                    </button>
                </div>-->
            </div>
        </div>

    </div>