html {
    font: 16px/20px 'Noto Sans', sans-serif;
}

.im-main-container {
    position: fixed;
    width: 100%;
    top: 50px;
    height: 90%;
    padding: 0 50px;
    box-sizing: border-box;
    background-color: transparent;
    display: flex
}

.im-dialog-area {
    position: relative;
    flex: 1;
    background: #208FF9;
    box-shadow: 20px 20px 5px grey;
    border-radius: 20px;
    overflow: hidden;
}

.im-dialog-title {
    height: 30%;
    width: 100%;
    box-shadow: 0 10px 2px rgba(27,25,27,.6); 
    border-radius: 20px;
    background: #8cb3fd;
}

.im-dialog-target-head {
    border-radius: 50%;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    background-image: url('/assets/img/head-img-1.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 5px 5px 5px lightcoral;
    position: absolute;
    top: 12%;
    left: 75%;
    z-index: 20;
}

.im-talk-area {
    height: 80%;
}

.im-talk-area input.input-name {
    width: 10%;
    margin-left: 20px;
    margin-right: 0;
    position: relative;
    bottom: 0;
    margin-top: 5%;
    height: 3%;
    border-radius: 5px;
}

.im-talk-area input.input-password {
    width: 10%;
    margin-left: 20px;
    margin-right: 0;
    position: relative;
    bottom: 0;
    margin-top: 2%;
    height: 3%;
    border-radius: 5px;
}

.im-dialog-close {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    text-align: left;
}

.im-close-button {
    width: 10%;
    height: auto;
}

.chat-thread {
 margin: 5% 20px 0 20px;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90%;
}

.chat-thread li{
  clear: both;
  display: block;
  max-width: 70%;
  margin-top: 5px; 
  line-height: 1.5;
}

li.left-li {
  background-image: url('/assets/img/left.PNG');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5% 5% 5% 12%;
}

li.right-li {
  background-image: url('/assets/img/right.PNG');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5% 12% 5% 5%;
  position: relative;
  left: 20%;
}

.im-input-area {
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
    display: flex;
}

.im-input {
    flex: 1;
    line-height: 1.5;
    font-size: 34px;
    text-align: center;
}

#im-input-button {
    height: 100%;
    width: 100px;
}

.im-target-name {
    text-align: center;
    font-size: -webkit-xxx-large;
    color: #d8ff11;
    font-weight: bold;
    font-family: fantasy;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.im-target-name span {

    text-shadow: 13px 10px 5px #6e00ff;
}

.im-title-button-area {
    display: flex;
    padding-left: 30px;
    height: 30%;
    position: relative;
}

.im-title-button-area button.rkmd-btn {
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    margin-left: 20px;
    margin-right: 0;
    position: relative;
    bottom: 0;
}

.im-email-icons {
    background-image: url(/assets/img/email.png);
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: 50% 50%;
}

.im-pen-icons {
    background-image: url(/assets/img/pen.png);
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: 50% 50%;
}

.row-item {
    align-items: center;
    display: flex;
    padding-left: 20%;
    padding-top: 10%;
  }