<div class="im-main-container">
        <div class="im-dialog-area">
            <div class="im-dialog-title">
                <div class="im-target-name">
                    <div class="im-dialog-close">
                        <img class="im-close-button" src="../assets/img/close.png">
                    </div>
                    <span>{{ imTitle }}</span>
                </div>
                <div class="im-title-button-area">
                </div>
            </div>
            <div class="im-dialog-target-head">
            </div>
            <div id="talk-area" class="im-talk-area">
                    <input [value]="user.username" (keyup)="onKey($event,'username')" placeholder="请输入用户名/手机">
                    <br>
                    <input [value]="user.password" (keyup)="onKey($event,'password')"  type="password" placeholder="请输入密码">
                    <br>
                    <button (click)="login()">登陆</button>
            </div>
        </div>

    </div>